<!-- app -->
    <section id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interactive App</h2>
                    <iframe src="https://dissecting-cancer-genomics.shinyapps.io/capstone/" style="display:flex; height: 1000px; width: 100%; border:none;" title="App" alt="App loading"></iframe>
                    <br>
                    <a href = "https://dissecting-cancer-genomics.shinyapps.io/capstone/">External Link for App</a>
                </div>
            </div>
        </div>
    </section>