<!-- app -->
    <section id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interactive App</h2>
                    <iframe src="https://dissecting-cancer-genomics.shinyapps.io/capstone/" style="max-width:1500px; max-height:1500px; height: auto; width: auto; border:none;" title="App" alt="App loading"></iframe>
                </div>
            </div>
        </div>
    </section>