<!-- Findings Section -->
    <section id="findings" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Findings</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                            <div class="timeline-panel">
                                <div style="display: flex; gap: 30px; margin-top: 100px; margin-bottom: 100px;">
                                    <div class="timeline-body">
                                        <div class="timeline-heading">
                                            <h4 class="subheading">Causal Variance vs. Heritability</h4>
                                        </div>
                                        <p class="text-muted">As the number of causal SNPs increases per gene id, it’s heritability on average
                                            increases. This contradicts our hypothesis. A potential reason this occurs is because as the 
                                            number of causal SNPs increases per gene id, then it is likely that the
                                            particular gene id has more factors that determine its occurrence, which could also
                                            make it more difficult for that gene id to be consistently heritable.</p>
                                    </div>

                                    <div>
                                        <img src="img/findings/linear.png" alt="missing" style="max-width: 500px; height: auto; width:auto\9;">
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-panel">
                                <div style="display: flex; gap: 30px; margin-top: 100px; margin-bottom: 100px;">
                                    <div>
                                        <img src="img/findings/gerp_cat.png" alt="missing" style="max-width: 500px">
                                    </div>

                                    <div class="timeline-body">
                                        <div class="timeline-heading">
                                            <h4 class="subheading">Genomic Evolutionary Rate Profiling Analysis</h4>
                                        </div>
                                        <p class="text-muted">The GERP score was calculated for each gene id in the region 500 KB from its
                                            start and stop positions. The scores were normally distributed around 0. The
                                            range of the score is from -1 to 1, with 1 meaning highly conserved. Gene ids with
                                            small heritability and most causal SNPs had the most variation within their scores,
                                            although there are also significantly more genes in this category versus the others.</p>
                                    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="timeline-panel">
                                <div style="display: flex; gap: 30px; margin-top: 100px; margin-bottom: 100px;">
                                    <div class="timeline-body">
                                        <div class="timeline-heading">
                                            <h4 class="subheading">Transcription Wide Association Study Analysis for Cancers</h4>
                                        </div>
                                        <p class="text-muted">TWAS allows us to correlate the gene expression data with trait variations, meaning
                                             we can identify the specific gene ids whose expression is significantly correlated
                                             to diseases. This is particularly effective in cancers, since it is caused by a
                                            small number of mutations. We applied this technique to identify causal SNPs in
                                            Breast Invasive Carcinoma, Ovarian Serous Cystadenocarcinoma, Prostate Adenocarcinoma,
                                             and Skin Cutaneous Melanoma.</p>
                                    </div>

                                    <div>
                                        <img src="img/findings/Manhattan_prostate_cancer.png" alt="missing" style="max-width: 500px">
                                    </div>
                                </div>
                            </div>

                        <h3 class="section-subheading text-muted">Further details and findings are included in our <a href="https://drive.google.com/file/d/1dDTIaAgFiv3PqccQx0vxUpQeoQchqfxl/view?usp=sharing">Report</a></h3>

                </div>
            </div>
        </div>
    </section>