<!-- Intro Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Intro</h2>
                    <br>
                    <p class="text-muted">
                        <H3> Our Goal </H3>
                        Our goal is to Shed light on the genetic architecture of cancers by enhancing comprehension of their heritability and polygenic characteristics.
                        <br>
                        Understanding these genetic influence will better help us understand the relationship between evolution and genes which can contribute to these common cancers. 

                        <H3> Our Hypothesis </H3>
                        As the number of causal snps increases for a gene id, the higher it’s heritability is likely to be, aligning with the assumption in
                         existing literature that gene ids or traits with few causal variants are often not highly conserved.

                         <br><br>
                        <a href="https://github.com/AntonBeliakovUCSD/Capstone">Github Link</a>
                        <a href="https://drive.google.com/file/d/1dDTIaAgFiv3PqccQx0vxUpQeoQchqfxl/view?usp=sharing"> Report Link</a>

                    </p>
                </div>
            </div>

            <!-- Use this for python and stuff Icons

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Temp</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Temp</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Temp</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        -->
        </div>
    </section>