<!-- Intro Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Intro</h2>
                    <h3 class="section-subheading text-muted">
                        The initial hypothesis is that there is a positive linear relationship and as the number
of causal snps increases for a gene id, the higher it’s heritability is likely to be. This
hypothesis would align with the assumption in existing literature that gene ids or
traits with few causal variants are also not highly conserved. The linear regression,
grouping, and visualizations align with the hypothesis. The GERP score analysis
offers a key interesting result about gene ids with high heritability and low causal
snps. The TWAS analysis is currently underway, and is being conducted on cancer
traits since they are highly heritable and have few causal SNPs.

                        <!-- Add Github repo link and report link-->

                    </h3>
                </div>
            </div>

            <!-- Use this for python and stuff Icons

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Temp</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Temp</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Temp</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        -->
        </div>
    </section>