<!-- Methods Section -->
    <section id="methods">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Methods</h2>

                    <br>

                    <p class="text-muted">We used a variety of tools and languages throughout the many components of our
                        project, including R, RStudio, Plink, and Python to name a few.
                    </p>
                    <img src="logos/Rlogo.png">
                    <img src="logos/Rstudio.png">
                    <img src="logos/python.png">

                    <br><br>
                    <!-- Add images of R and python etc. icons-->

                    <H3> 3 Main Steps </H3>
                    <H4> Regression </H4>
                    <p>
                        Illustrating the direct relationship between the causal variance and heritability
                        <!--Add graphic-->
                        <!--Link to findings-->
                    </p>
                    <H4> GERP </H4>
                    <p>
                        The GERP score analysis offered additional evolutionary insight
                        <!--Add graphic-->
                        <!--Link to findings-->
                    </p>
                    <H4> TWAS </H4>
                    <p>
                        The TWAS analysis is focused on cancer traits with high heritability and low causal variance to identify relevant gene ids.
                        <!--Add graphic-->
                        <!--Link to findings-->
                    </p>

                    <br><br>
                    <H3> 6 Models </H3>
                    <b>Best linear unbiased predictor</b><br>
                    <b>TOP1</b> (Single best eQTL)<br>
                    <b>SuSiE</b> Fine mapping results<br>
                    <b>Bayesian Sparse Linear Mixed Model</b><br>
                    <b>Elastic net regression</b>
                        
                </div>
                
            </div>

            <!--Use these Grid template for visualizations
                
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        -->
        </div>
    </section>
