<!-- Methods Section -->
    <section id="methods">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Methods</h2>

                    <br>

                    <p class="text-muted">We used a variety of tools and languages throughout the many components of our project, including R,
                         RStudio, Plink, Python, and GCTA (Genome-wide Complex Trait Analysis) command line tool to name a few. 
                    </p>
                    <div style="padding-left:10px; padding-right:10px">
                        <img src="img/logos/Rlogo.png" style="max-width: 100%; width: auto; height: auto">
                        <img src="img/logos/Rstudio.png" style="max-width: 100%; width: auto; height: auto">
                        <img src="img/logos/python.png" style="max-width: 100%; width: auto; height: auto">
                    </div>

                    <br><br><br>

                    <H4> Regression </H4>
                    <p>
                        Illustrating the direct relationship between the causal variance and heritability.

                    </p>

                    <br>

                    <H4> Genomic Evolutionary Rate Profiling (GERP) </H4>
                    <p>
                        The GERP score analysis offered additional evolutionary insight.

                    </p>

                    <br>

                    <H4> Transcriptome-Wide Association Study (TWAS) </H4>
                    <p>
                        The TWAS analysis is focused on cancer traits with high heritability and low causal variance to identify relevant gene IDs.

                    </p>

                    <br><br><br>
                    <H3> 6 Models </H3>
                    <b>TOP1</b> (Single best eQTL)<br>
                    <b>The Sum of Single Effects (SuSiE)</b> Fine mapping results<br>
                    <b>Bayesian Sparse Linear Mixed Model (BSLMM)</b><br>
                    <b>Elastic net regression</b><br>
                    <b>Least Absolute Shrinkage and Selection Operator (LASSO)</b><br>
                    <br>
                    <b>Best linear unbiased predictor (BLUP)</b><br> Note: This model was excluded from the results due to convergence issues<br>
                        
                </div>
                
            </div>
        </div>
    </section>
